.main {
    display: flex;
    gap: 20px;
    list-style: none;
    background-color: #49796B;
    height: 50px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

li {
    cursor: pointer;
}

body {
    background-color: #F0FFF0;
    height: 100%;
    width: 100%;
}