.main {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  background-color: #007bff; /* Blue background for user navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main li {
  color: #fff;
  font-size: 1.1rem;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main li:hover {
  background-color: #0056b3; /* Darker blue on hover */
  border-radius: 5px;
}